<% if sender%>
  <div class="message-container" id="message-<%= message.id %>">
    <div class="chat-message">
      <p><%= message.content %></p>
    </div>
    <small><%= message.created_at.strftime("%l:%M%p") %></small>
  </div>
<% else %>
  <div class="message-container-receive" id="message-<%= message.id %>">
    <div class="d-flex">
      <%= cl_image_tag(message.sender.photo.key, height: 30, width: 30, radius: 'max', background: '#f9fafd') %>
      <div class="chat-message-receive ml-2">
        <p><%= message.content %></p>
      </div>
    </div>
    <small><%= message.created_at.strftime("%l:%M%p") %></small>
  </div>
<% end %>
