<div class="page">
  <%= render 'shared/navbar' %>
  <div class="body-frame">
    <%= render 'recently_booked' %>
    <%= render "counselors/upcoming_session" %>
    <%= render 'past_sessions' %>
  </div>
  <%= render 'shared/footer_counselor' %>
</div>
