<div class="page">
  <%= render 'shared/navbar' %>
  <div class="body-frame">
    <% current_counselor.bookings.map do |booking| %>
      <% if booking.in_session == true %>
        <div class="sos btn d-flex justify-content-center p-3 m-3 position-relative">
          <%= link_to '', booking_path(booking), class: 'card-link' %>
          <div class="emergency-request">
            <div class="user-pic">
              <%= cl_image_tag(booking.user.photo.key, height: 80, width: 80, radius: 'max', background: '#f4f4f4') %>
            </div>
            <p class='sub-title'><strong>EMERGENCY REQUEST</strong></p>
            <p><strong>Name: </strong><%= booking.user.first_name %> <%= booking.user.last_name %></p>
            <p><strong>Mobile Number: </strong><%= booking.user.phone_number %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="title col-xs-8 col-sm-9 col-lg-9 mx-auto my-2" style='display: block'>
      <h3>Weekly Report</h3>
    </div>
    <div class="chart mx-2 my-3">
      <%= line_chart @emotions.map { |emotion| {name: emotion, data: @daily_reports.where(emotion: emotion).where('date >= ? AND date <= ?', (Date.today - 1.week).beginning_of_week, (Date.today - 1.week).end_of_week).group_by_day_of_week(:date, format: "%a").count} },
       ytitle: 'number of students', labels: { fontSize: 10, backgroundColor: "none", fontColor: "rgba(205, 208, 246, 1)"}, colors: ["rgba(145, 178, 253, 1)", "rgba(173, 128, 250, 1)","rgba(246, 148, 183, 1)", "rgb(131, 207, 218)"]%>
      <p>Daily emotion report of all students on each day of the week</p>
      <p>(last week)</p>
    </div>
    <div class="chart mx-3 my-3">
      <%# bar_chart @emotions.map {|emotion| {name: emotion, data: @daily_reports.joins(:user).where(users: {grade: 1, classroom: 'A'}).where(emotion: emotion).where('date >= ? AND date <= ?', (Date.now - 1.week).beginning_of_week, (Date.now - 1.week).end_of_week).group_by_days_of_week(:date).count},
       colors: ["rgba(145, 178, 253, 1)", "rgba(173, 128, 250, 1)"], stacked: true %>
      <p>Daily emotion report of 1-A on each day of the week</p>
      <p>(last week)</p>
    </div>
    <div class="title col-xs-8 col-sm-9 col-lg-9 mx-auto my-2" style='display: block'>
      <h3>Monthly Report</h3>
    </div>
    <%#  (all students) average mood for a month (#{mood}days + ... + #{mood}days) / number of ppl / days of month %>
    <%# @daily_reports.where('date >= ? AND date <= ?', (Time.now - 1.month).at_beginning_of_month, (Time.now - 1.month).at_end_of_month).group(:emotion).count/User.all.count/Time.days_in_month((Time.now - 1.month).month, (Time.now - 1.month).year) %>
    <div class="chart mx-3 my-3">
      <p>Average Mood of Students in <%= (Time.now - 1.month).strftime("%B") %></p>
      <%= column_chart @daily_reports.where('date >= ? AND date <= ?', (Time.now - 1.month).at_beginning_of_month, (Time.now - 1.month).at_end_of_month).group(:emotion).count.map {|key, value| [key, (value.to_f/User.all.count/Time.days_in_month((Time.now - 1.month).month, (Time.now - 1.month).year)*100).round(2)]}.to_h, min: '0%', max: '50%', suffix: "%", colors: ["rgba(145, 178, 253, 1)", "rgba(173, 128, 250, 1)"]%>
    </div>
    <div class="chart mx-3 my-3">
      <%= pie_chart @daily_reports.where('date >= ? AND date <= ?', (Time.now - 1.month).at_beginning_of_month, (Time.now - 1.month).at_end_of_month).group(:emotion).count.map {|key, value| [key, (value.to_f/User.all.count/Time.days_in_month((Time.now - 1.month).month, (Time.now - 1.month).year)*100).round(2)]}.to_h, suffix: "%", colors: ["rgba(145, 178, 253, 1)", "rgba(173, 128, 250, 1)",'rgba(246, 148, 183, 1)', 'rgb(131, 207, 218)', 'rgba(205, 208, 246, 1)'] %>
    </div>
  </div>
  <%= render 'shared/footer_counselor' %>
</div>
