<div class="page-frame-content">
  <div class="top-head">
    <div class="d-flex align-items-center">
      <%= current_user.nil? ? cl_image_tag(@user.photo.key, height: 40, width: 40, radius: 'max', style: 'border-radius: 50%; margin-left: 15px') : cl_image_tag(@counselor.photo.key, height: 40, width: 40, radius: 'max', style: 'border-radius: 50%; margin-left: 15px') %>
      <p class='ml-2' style="margin-bottom: 0; color: rgba(249, 250, 253, 1)"><%= current_user.nil? ? @user.first_name : @counselor.first_name %></p>
    </div>
    <%# Hiding end session button for the counselor %>
    <% if current_counselor.nil? %>
      <%= simple_form_for @booking do |f|  %>
        <%= f.hidden_field :in_session, value: false, as: :boolean %>
        <div class="top-head-button">
          <%= f.button :submit, 'End Session', class: 'btn btn-sm btn-primary mx-3', style: 'color: rgba(249, 250, 253, 1)' %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%# Message body %>
  <div class="page-frame-body col-md-8">
    <%# messagesContainer %>
    <div id="messages" data-booking-id="<%= @booking.id %>" data-user-id="<%=current_counselor&.id || current_user&.id%>">
      <div class="text-center my-2">
        <small><%= @booking.created_at.strftime("%a %b %e") %></small>
      </div>
      <% @booking.messages.each do |message| %>
        <%= render 'messages/message', message: message, sender: message.sender == current_counselor || message.sender == current_user %>
      <% end %>
    </div>
  </div>
  <%# Text input %>
  <div class="chatroom-text-box">
    <%= simple_form_for [ @booking, @message ], remote: true do |f| %>
      <div class='page-frame-footer d-flex' style="align-items: center; height: 3rem; justify-content: space-between">
        <%= f.input :content, label: false, placeholder: "Aa", wrapper_html: {class: 'flex-grow-1'}, input_html: {style: 'border-radius: 20px;'} %>
        <%= f.button :button do %>
          <i class="fas fa-paper-plane" style="color: white;"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
