<div class="page-frame-content">
  <div class="top-head">
    <%= simple_form_for @booking do |f|  %>
      <%= f.hidden_field :in_session, value: false, as: :boolean %>
      <div class="top-head-button">
        <%= f.button :submit, 'End Session', class: 'btn btn-sm btn-primary mx-2', style: 'color: rgba(249, 250, 253, 1)' %>
      </div>
    <% end %>
  </div>
  <%# Message body %>
  <div class="page-frame-body">
    <div id="messages" data-booking-id="<%= @booking.id %>">
      <div class="text-center my-2">
        <small><%= @booking.created_at.strftime("%a %b %e") %></small>
      </div>
      <% @booking.messages.each do |message| %>
        <%= render 'messages/message', message: message, sender: message.sender == current_counselor || message.sender == current_user %>
      <% end %>
    </div>
  </div>
  <%# Text input %>
  <div class="chatroom-text-box">
    <%= simple_form_for [ @booking, @message ], remote: true do |f| %>
      <div class='page-frame-footer d-flex'>
        <%= f.input :content, label: false, placeholder: "Aa" %>
        <%= f.button :button do %>
          <i class="fas fa-paper-plane"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
