<%# Counselor, Time, Mode %>
<div class="form mx-auto" style='width: 500px'>
  <div class="mx-4px" >
    <h1>Book a Session</h1>
  </div>
  <%= simple_form_for @booking do |f| %>
    <%= f.association :counselor, label: 'Counselors',
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper d-flex',
      item_wrapper_class: 'category-counselor mx-3',
      input_html: {class: 'category-selector'},
      collection: @counselors.map { |counselor| [cl_image_tag(counselor.photo.key, height: 100, width: 100, radius: 'max', background: 'transparent'), counselor.id ] }
    %>
    <%# <div class="middle">
      <div class="text">Chosen</div>
    </div> %>
    <%= f.input :start_time, label: 'Start Time', minute_step: 30%>
    <%= f.input :end_time, label: 'End Time', minute_step: 30 %>
    <%= f.input :mode, label: 'Mode',
      as: :radio_buttons,
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper d-flex',
      item_wrapper_class: 'category-mode mx-3',
      input_html: {class: 'category-selector'},
      collection: [['Chatroom', 0], ['Video Call', 1], ['In-person', 2]]
    %>
    <%= f.hidden_field :in_session, value: false, as: :boolean %>
    <%= f.hidden_field :emergency, value: false, as: :boolean %>
    <%= f.button :submit, 'Submit', class: 'new-submit-btn' %>
  <% end %>
</div>
<%= render 'shared/footer' %>
