<% if @booking.in_session == true %>
  <%= render 'chatroom' %>
<% elsif @booking.in_session == false %>
  <% if current_user %>
    <div class="page">
      <%= render 'shared/navbar' %>
      <div class="body-frame">
        <%= render 'rating' %>
      </div>
    </div>
  <% else %>
    <div class="page">
      <%= render 'shared/navbar' %>
      <div class="body-frame">
        <%= render 'counselor_rating' %>
      </div>
    </div>
  <% end %>
<% end %>
