<div class="page">
  <%= render 'shared/navbar' %>
  <div class="body-frame">
    <%= render "student_profile" %>
    <%= render "monthly_individual_report" %>
    <%= render "past_session", bookings: @past_bookings %>
  </div>
  <%= render 'shared/footer_counselor' %>
</div>
