<div class="contact-button text-center">
  <%= link_to "Contact?", @dashboard_path%> <%#<%= is this the correct path? %>
</div>
<%= render "student_profile" %>
<%= render "monthly_individual_report" %> <br>
<br>
<%= render "past_session" %>
