<h1>Pages#homee</h1>
<div class="d-flex">
  <%= simple_form_for @booking do |f|  %>
    <%= f.hidden_field :mode, value: 0 %>
    <%= f.hidden_field :in_session, value: true %>
    <%= f.hidden_field :emergency, value: true %>
    <%= f.button :submit, 'Chat' %>
  <% end %>

  <%= simple_form_for @booking do |f|  %>
    <%= f.hidden_field :mode, value: 1 %>
    <%= f.hidden_field :in_session, value: true %>
    <%= f.hidden_field :emergency, value: true %>
    <%= f.button :submit, 'Video' %>
  <% end %>
</div>
