<div class="page">
  <%= render 'shared/navbar' %>
  <div class="body-frame">
    <div class="daily-report">
      <h3>How are you feeling today?</h2>
      <p>Record your emotion of today!</p>
      <div class="emotions d-flex justify-content-center">
        <% unless current_user.nil? || current_user.emotion_today? %>
          <div class="emotion-form">
            <%= simple_form_for @daily_emotion, remote: true do |f| %>
              <div class="mx-auto w-100 justify-content-center text-center">
                <%= f.input :emotion,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector', onchange: 'this.form.submit()'},
              collection: DailyEmotion.emotions.keys.map { |key| [sanitize("<i class='#{fontawesome(key)}'></i>"), key]}
            %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="emotion-form">
            <%= simple_form_for @daily_emotion, remote: true do |f| %>
              <div class="mx-auto w-100 justify-content-center text-center">
                <%= f.input :emotion,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector', onchange: 'this.form.submit()'},
              collection: DailyEmotion.emotions.keys.map { |key| [sanitize("<i class='#{fontawesome(key)}'></i>"), key]}
            %>
                <p style="padding-top: 1.5rem">Today's emotion has already benn recorded</p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <h3 class='sos-text mt-3 text-center'>--- I need help now ---</h3>
    <div class='sos m-3 p-4'>
      <div class='online-counselors'>
        <p style='margin-bottom: 0; margin-left: 16px'>Online counselors at your school:</p>
        <div class="d-flex p-2">
          <% @counselors.each do |counselor| %>
            <div class="counselor-pic ml-2">
              <%= cl_image_tag(counselor.photo.key, height: 50, width: 50, radius: 'max', background: '#f4f4f4') %>
            </div>
            <div class='notification-online badge badge-success'>  </div>
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-center p-3 mx-5">
        <div class='mx-3'>
          <%= simple_form_for @booking do |f|  %>
            <%= f.hidden_field :mode, value: 0 %>
            <%= f.hidden_field :in_session, value: true, as: :boolean %>
            <%= f.hidden_field :emergency, value: true, as: :boolean %>
            <%= f.button :submit, 'Chatroom', class: 'sos-button btn btn-primary mx-2' %>
          <% end %>
        </div>
        <div class='mx-3'>
          <%= simple_form_for @booking do |f|  %>
            <%= f.hidden_field :mode, value: 1 %>
            <%= f.hidden_field :in_session, value: true %>
            <%= f.hidden_field :emergency, value: true %>
            <%= f.button :submit, 'Video call', class: 'sos-button btn btn-primary mx-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
