<div class="page">
  <%= render 'shared/navbar' %>
  <div class="body-frame">
    <div class="daily-report <%= "small" if current_user&.emotion_today? %>">
      <% unless current_user&.emotion_today? %>
        <%= render 'emotions_home', daily_emotion: @daily_emotion %>
      <% else %>
        <div class="flex-row">
          <h1 class='d-flex text-center mt-4 justify-content-center'>Your week so far</h1>
          <%= render 'weekly_individual_report' %>
          <%# <p class='d-flex justify-content-center' style="padding-top: 1.5rem">Today's emotion has been recorded</p>
          <p class='d-flex justify-content-center'style="padding-top: 1.5rem">Thank you!</p> %>
        </div>
      <% end %>
    </div>
    <div class='sos p-4' style='margin-top: 60px;'>
      <h3 class='sos-text mb-3 text-center' style="color: white">Find help now</h3>
      <div class='online-counselors'>
        <p style='text-align: center'>Online counselors at your school:</p>
        <div class="d-flex p-2 justify-content-center">
          <% @counselors.each do |counselor| %>
            <div class="counselor-pic ml-2">
              <%= cl_image_tag(counselor.photo.key, height: 50, width: 50, radius: 'max', background: '#f4f4f4') %>
            </div>
            <div class='notification-online badge badge-success'>  </div>
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-center p-3 mx-5">
        <div class='mx-3'>
          <%= simple_form_for @booking do |f|  %>
            <%= f.hidden_field :mode, value: 0 %>
            <%= f.hidden_field :in_session, value: true, as: :boolean %>
            <%= f.hidden_field :emergency, value: true, as: :boolean %>
            <%= f.button :submit, 'Chatroom', class: 'sos-button btn btn-primary mx-2' %>
          <% end %>
        </div>
        <div class='mx-3'>
          <%= simple_form_for @booking do |f|  %>
            <%= f.hidden_field :mode, value: 1 %>
            <%= f.hidden_field :in_session, value: true %>
            <%= f.hidden_field :emergency, value: true %>
            <%= f.button :submit, 'Video call', class: 'sos-button btn btn-primary mx-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
